<!-- templates/add_item_to_wishlist.html -->

{% extends "base.html" %}

{% block title %}Add Item to Wishlist{% endblock %}

{% block content %}
<h2 class="mt-5">Add Item to Wishlist: {{ wishlist.title }}</h2>

<div class="row">
    <!-- Store Items Section -->
    <div class="col-md-8">
        <form method="GET" action="">
            <div class="form-group">
                <label for="search">Search for Store Items</label>
                {{ search_form.search }}
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <h3 class="mt-5">Store Items</h3>
        <div class="row">
            {% for item in items %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="{{ item.image_url.url }}" class="card-img-top" alt="{{ item.name }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text"><strong>Price:</strong> GH₵ {{ item.price|floatformat:2 }}</p>
                        <form method="POST" action="{% url 'add_item_to_wishlist' wishlist_id=wishlist.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-primary">Add to Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Custom Item Form Section -->
    <div class="col-md-4">
    <h3 class="mt-5">Add Custom Item</h3>
    <form method="POST" enctype="multipart/form-data" action="{% url 'add_item_to_wishlist' wishlist.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="custom_name">Item Name</label>
            {{ custom_item_form.item_name }}
        </div>
        <div class="form-group">
            <label for="custom_description">Item Description</label>
            {{ custom_item_form.item_description }}
        </div>
        <div class="form-group">
            <label for="custom_price">Item Price</label>
            {{ custom_item_form.item_price }}
        </div>
        <div class="form-group">
            <label for="custom_image_url">Item URL (optional)</label>
            {{ custom_item_form.item_image_url }}
        </div>
        <div class="form-group">
            <label for="custom_image">Item Image</label>
            {{ custom_item_form.item_image }}
        </div>
        <button type="submit" class="btn btn-primary">Add Custom Item</button>
    </form>
</div>
</div>
{% endblock %}
