/* Light and Dark Theme Base */
body.theme-light {
    background-color: #ffffff;
    color: #232424;
}

body.theme-dark {
    background-color: #232424;
    color: #ffffff;
}

/* Navbar */
body.theme-light .navbar {
    background-color: #f8f9fa;
    color: #232424;
}

body.theme-dark .navbar {
    background-color: #343a40;
    color: #ffffff;
}

body.theme-light .navbar .navbar-brand,
body.theme-light .navbar .nav-link,
body.theme-light .navbar .dropdown-toggle {
    color: #232424;
}

body.theme-dark .navbar .navbar-brand,
body.theme-dark .navbar .nav-link,
body.theme-dark .navbar .dropdown-toggle {
    color: #ffffff;
}

/* Dropdown Menus */
body.theme-light .dropdown-menu {
    background-color: #ffffff;
    color: #232424;
}

body.theme-dark .dropdown-menu {
    background-color: #343a40;
    color: #ffffff;
}

body.theme-dark .dropdown-item {
    color: #ffffff;
}

body.theme-dark .dropdown-item:hover,
body.theme-dark .dropdown-item:focus {
    background-color: #495057;
    color: #ffffff;
}

body.theme-light .dropdown-item {
    color: #232424;
}

body.theme-light .dropdown-item:hover,
body.theme-light .dropdown-item:focus {
    background-color: #e9ecef;
    color: #232424;
}

/* Cards */
body.theme-light .card {
    background-color: #ffffff;
    color: #000000;
}

body.theme-dark .card {
    background-color: #343a40;
    color: #ffffff;
}

body.theme-dark .card .card-title,
body.theme-dark .card .card-text {
    color: #ffffff;
}

body.theme-dark .title-highlight {
    color: white;
}

body.theme-light .title-highlight {
    color: #343a40;
}

/* Form Group */
.form-group.row {
    display: flex;
    align-items: center;
}

.form-group.row .col-md-4,
.form-group.row .col-md-8 {
    margin-right: 10px; /* Adjust spacing as needed */
}

/* Modal Styling for Light and Dark Themes */

/* Modal Background */
body.theme-light .modal-content {
    background-color: #ffffff;
    color: #232424;
}

body.theme-dark .modal-content {
    background-color: #343a40;
    color: #ffffff;
}

/* Modal Header */
body.theme-light .modal-header {
    border-bottom: 1px solid #dee2e6;
}

body.theme-dark .modal-header {
    border-bottom: 1px solid #495057;
}

/* Modal Footer */
body.theme-light .modal-footer {
    border-top: 1px solid #dee2e6;
}

body.theme-dark .modal-footer {
    border-top: 1px solid #495057;
}

/* Modal Buttons */
body.theme-light .btn {
    background-color: #f8f9fa;
    color: #232424;
}

body.theme-dark .btn {
    background-color: #495057;
    color: #ffffff;
}

body.theme-light .btn-secondary {
    background-color: #e9ecef;
    color: #232424;
}

body.theme-dark .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

body.theme-light .btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

body.theme-dark .btn-primary {
    background-color: #007bff;
    color: #ffffff;
}
